.paperStyle{
    padding: 30px 20px ;
    width:300px ;
    margin: 30px auto ;
}
 .paperStyle{
    padding: 20;
    height: "70vh";
    width: 300px;
    margin: "20px auto";
  };

.buttonMargin {
    margin-top :10px ;
    color:gray ; 
    border : solid 1px black ;
}

.header {
    margin-top :5px;
    margin:5px ;
}
.errorMessage {
    color: red;
}