.paperStyle{
    padding: 20px ;
    width:300px ;
    height: auto  ;
    margin: 20px auto  ;
}

.avatarStyle{
    background-color: #1bbd7e;
}

.header{
    margin:3px ;
    
}

.btstyle{
     margin: 12px 0 !important ;
    color: white !important; 
    border : solid 1px black !important  ;
    background-color:green !important  ;
}

